[Unit]
Description=Seedling Control service
After=network.target

[Service]
WorkingDirectory=/home/pi/projects/seedling
PIDFile=/home/pi/projects/seedling/seedling.pid
ExecStart=/home/pi/projects/seedling/venv/bin/python seedling.py
KillMode=mixed
TimeoutStopSec=10
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
