{% extends 'base.html' %}

{%- block title %}Seedling Control{% endblock title %}
{%- block styles %}
{{- super() }}
<style>
#chan-table button {
  color: rgba(120,120,120,1);
  background-color: rgba(0,0,0,0);
}
</style>
{%- endblock styles -%}

<!--{%- block navigation %}-->
<!-- begin navigation controls block -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form" role="search" action="{{ url_for('seedling') }}" method="get">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">
                      <span class="glyphicon glyphicon-share-alt"></span>
                    </button>
                  </span>
                  <input class="form-control" type="text" name="msg" value="" placeholder="send message" autofocus autocomplete="off">
                </div>
              </div>
            </form>
          </li>
          <li><a href="https://github.com/chasmack/seedling" target="_blank">about</a></li>
        </ul>
<!-- end navigation controls -->
{%- endblock navigation -%}

{% block page %}
<!-- begin page content block -->

    <div id="chan-table">
      <table class="table">
        <thead>
          <tr>
            <th style="width: 25%;">Channel</th>
            <th style="width: 25%;">Temp</th>
            <th style="width: 5%;"></th>
            <th style="width: 5%; padding-left: 6px">Set</th>
            <th style="width: 20%;"></th>
            <th style="width: 20%;">Heat</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

<!-- end page content block -->
{%- endblock page -%}

{% block scripts %}
<!-- begin scripts block -->
    {{- super() }}
    <script src="{{ url_for('static', filename='js/jquery.mousewheel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/seedling.js') }}"></script>
    <script>

var ctl_template =
      '<tr class="ctl-chan #state#">\n' +
      '  <th scope="row">#name#</th>\n' +
      '  <td>#temp#</td>\n' +
      '  <td>\n' +
      '    <button type="button" class="btn btn-xs set-minus">\n' +
      '      <span class="glyphicon glyphicon-minus"></span>\n' +
      '    </button>\n' +
      '  </td><td>\n' +
      '    <span class="setpoint">#set#</span>\n' +
      '  </td><td>\n' +
      '    <button type="button" class="btn btn-xs set-plus">\n' +
      '      <span class="glyphicon glyphicon-plus"></span>\n' +
      '    </button>\n' +
      '  </td>\n' +
      '  <td>#relay#</td>\n' +
      '</tr>\n';

var aux_template =
      '<tr class="aux-chan">\n' +
      '  <th scope="row">#name#</th>\n' +
      '  <td>#temp#</td>\n' +
      '  <td colspan="4"></td>\n' +
      '</tr>\n';

var alert_template =
    '<div class="alert alert-danger alert-dismissible fade in" role="alert">\n' +
    '  <button type="button" class="close" data-dismiss="alert"><span>×</span></button>\n' +
    '  <h4>You got an error!</h4>\n' +
    '  <p>#error#</p>\n' +
    '</div>';

function send_msg(msg) {
  const url = '/?msg=' + encodeURIComponent(msg);
  $.get(url, function(data) {
    console.log(data);
    if (data.error) {
      $('#chan-table').before(alert_template.replace('#error#', data.error));
    }
  });
}

function update_chans(msg) {
  var stat = '/stat';
  if (msg) {
     stat += '?msg=' + encodeURIComponent(msg);
  }
  $.get(stat, function(data) {
    console.log(data);
    var rows = '';
    data.ctl_chans.forEach(function(chan) {
      rows += ctl_template
          .replace('#state#', chan.enabled ? 'success' : '')
          .replace('#name#', chan.name)
          .replace('#temp#', chan.temp.toFixed(1) + '&deg;')
          .replace('#set#', chan.set.toString() + '&deg;</span>')
          .replace('#relay#', chan.relay ? 'ON' : 'OFF');
    });
    data.aux_chans.forEach(function(chan) {
      rows += aux_template
          .replace('#name#', chan.name)
          .replace('#temp#', chan.temp.toFixed(1) + '&deg;');
    });
    $('#chan-table').find('tbody').empty().append(rows);
  });
}

$('#chan-table').on('click', 'tr.ctl-chan', function (e) {

  const channel = $(this).closest('tr').find('th').text();

  if (this.classList.contains('success')) {
    this.classList.remove('success');
    send_msg('SET ' + channel + ' OFF');
  } else {
    this.classList.add('success');
    send_msg('SET ' + channel + ' ON');
  }

}).on('click', 'button', function (e) {

  e.stopPropagation();

  const $row = $(this).closest('tr')
  const channel = $row.find('th').text();
  const setpoint = parseInt($row.find('span.setpoint').text());

  if (this.classList.contains('set-minus')) {
    $row.find('span.setpoint').empty().append((setpoint - 1).toString() + '&deg;');
    send_msg('SET ' + channel + ' -1');
  } else {
    $row.find('span.setpoint').empty().append((setpoint + 1).toString() + '&deg;');
    send_msg('SET ' + channel + ' +1');
  }
});

$(function() {
  update_chans();
  var id = setInterval(update_chans, 10000);
});

    </script>
<!-- end scripts block -->
{% endblock scripts %}
